

 ul{
     text-decoration: none;
     color: white;
     list-style: none;
     
 }
 ul li {
    float:right;
    width:200px;
    height:40px;
    background-color:black;
    opacity: .8;
    line-height:40px;
    text-align: center;
    font-size: 15px;
    margin-right: 5px;
 }
 
 ul li a{
     display: block;

 }
 ul li a:hover{
    background-color:rgb(202, 190, 17);
}

ul li ul li{
    display :none;

}
ul li:hover ul li{
    display:block;
}


#home{
    background-image: url('images/Pizza-Toppings.jpg');
    padding: 150px;
    text-align: center;
    font-style: italic;
    font-weight: bold;
    color: black;
}

#order{
    text-align: center;
}
#order :hover{
    display: show;
   
}
#about h1{
 text-align: center;
}
#about .aboutt{ 
    background-color: black;
    text-align:center;
    opacity: .8;
    color: white;
}
#contact{
    text-align:center; 
}
#contact .contactt form{
    background-color: black;
    text-align:center;
    opacity: .8;
    color: white;
}
#order1{
    text-align: center;
    background-color: black;
    opacity: .8;
    color: white;
}
.checkouts {
    display: none;
    text-align: center;
  }
  .checkouts h3 {
    text-align: center;
    text-decoration: underline;
    color: darkblue;
  }
  .addresses {
    display: none;
    text-align: center;
   
  }
  #order{
    
    text-align: center;
    background-repeat: no-repeat;
    background-image: url('images/Pizza-Toppings.jpg');
    background-size: cover;

}
.yourOrders{
    text-align: center;
    
 
}